language: node_js
node_js:
  - "10"
dist: trusty
sudo: required
addons:
  - chrome: stable
before_install: 
  - npm i -g codecov
install:
  - yarn
script:
  - npm run lint
  - npm run test
  - codecov
cache:
  yarn: true
  directories:
    - node_modules
after_success:
  - export CODECOV_TOKEN="64224950-4128-463b-973a-c7d83398f4fa"
  - bash <(curl -s https://codecov.io/bash) -s coverage/